@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: irlight;
      src: url(../font/IRANSansLight.woff);
    }
  
    .dir-ltr {
      direction: ltr;
    }
  
    .dir-rtl {
      direction: rtl;
    }
  }
